source ~/dotfiles/.vimrc

set clipboard=unnamed

nnoremap s <Nop>

" formatting code
nnoremap <silent> == :action ReformatCode<CR>

" commentout
nnoremap <silent> cc :action CommentByLineComment<CR>:action Up<CR>
vnoremap <silent> cc :action CommentByBlockComment<CR>

" rename
nnoremap <silent> cW :action RenameElement<CR>

" open file
nnoremap <silent> gr :action RecentFiles<CR>
nnoremap <silent> gc :action GotoClass<CR>
nnoremap <silent> go :action GotoFile<CR>
nnoremap <silent> gd :action GotoDeclaration<CR>
nnoremap <silent> sa :action GotoAction<CR>
nnoremap <silent> se :action SearchEverywhere<CR>

" move tab
nnoremap <silent> sn :action NextTab<CR>
nnoremap <silent> sp :action PreviousTab<CR>


" back,forward
nnoremap <silent> gp :action Back<CR>
nnoremap <silent> gn :action Forward<CR>

" 選択拡大、縮小
vnoremap <silent> K :action GuiDesigner.ExpandSelection<CR>
vnoremap <silent> J :action GuiDesigner.ShrinkSelection<CR>

" ライブテンプレ
inoremap <silent> <C-n> <C-o>:action InsertLiveTemplate<CR>

" クリップボード履歴
nnoremap <silent> P :action PasteMultiple<CR>

" 貼り付け
inoremap <silent> <C-S-p> <C-o>:action PasteMultiple<CR>
