let mapleader = ","

nnoremap L $
vnoremap L $
nnoremap H ^
vnoremap H ^
nnoremap Y v$y
vnoremap Y $y

inoremap jf <ESC>

noremap ; :
noremap : ;

nnoremap j gj
nnoremap k gk
nnoremap <Down> gj
nnoremap <Up>   gk

nnoremap x "_x
vnoremap x "_x

nnoremap s <Nop>
vnoremap s <Nop>

nnoremap sj <C-w>j
nnoremap sk <C-w>k
nnoremap sl <C-w>l
nnoremap sh <C-w>h

nnoremap sJ <C-w>-
nnoremap sK <C-w>+
nnoremap sL <C-w>>
nnoremap sH <C-w><

nnoremap ss :<C-u>sp<CR>
nnoremap sv :<C-u>vs<CR>

nnoremap st :<C-u>tabnew<CR>
nnoremap sn gt
nnoremap sp gT

inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>
imap <ESC>OA <Up>
imap <ESC>OB <Down>
imap <ESC>OC <Right>
imap <ESC>OD <Left>

inoremap <C-o> <esc>o
nnoremap <CR> o<Esc>

vnoremap <Cr> :<C-u>'<,'>s/ *, */,\r/g<Cr>:<C-u>noh<Cr>

nnoremap gh <C-o>
nnoremap gl <C-i>

nnoremap == gg=G

