"*":
  "atom-beautify":
    general:
      _analyticsUserId: "508c7378-2e50-4192-b353-6d074ea08a83"
  core:
    openEmptyEditorOnStart: false
  "exception-reporting":
    userId: "45f6b7a3-20de-cfe6-c75d-167ccccb6b66"
  welcome:
    showOnStartup: false
