"*":
  core:
    telemetryConsent: "no"
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "3d16b82b-27d4-4d25-97da-1c60e1a30deb"
  "markdown-preview":
    useGitHubStyle: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
